<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TODO App using BackboneJS and Localstorage</title>
  <link rel="stylesheet" href="lib/css/bootstrap.min.css">
  <style>
    .todos {
      list-style: none;
    }
  </style>
</head>
<body>

  <div class="container" id="app">
    <div class="row">
      <div class="col-md-12">
        <h2>
          <a href="/">TODO App  </a> <br>
          <small>Written Using BackboneJS, jQuery and HTML5 Local Storage.</small>
        </h2>
        <a href="https://github.com/ansal/todo-backbone-localstorage"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
        <hr>
        <input type="text" class="form-control" placeholder="Type a new TODO and hit Enter..." id="newTodoText">
        <hr>
      </div> <!-- col-md-12 ends -->
    </div> <!-- row ends -->
    <div class="row">
      <div class="col-md-12">
        <h4>
          TODOs <br>
          <small><span id="remainingTodosCount">0</span> todos pending. <span id="completedTodosCount">0</span> todos completed.</small>
        </h4>
        <hr>
        <ul class="todos" id="todoList">
          
        </ul>
        <p class="pull-right">
          <a href="#" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-trash"></span> Clear Completed Tasks</a>
        </p>
      </div> <!-- col-md-6 ends -->
    </div> <!-- row ends -->
    <div class="row">
      <div class="col-md-12">
        <hr>
        This TODO app was written by <a href="https://github.com/ansal">me</a> using BackboneJS, jQuery and Twitter Bootstrap. Browse source code of the app <a href="https://github.com/ansal/todo-backbone-localstorage"> here </a>.
      </div>
    </div> <!-- row ends -->
  </div> <!-- container ends -->

  <script id="todoTemplate" type="text/template">
    <h4>
      <% if (completed === true) { %> 
      <input type="checkbox" class="completeCheckbox" checked=true>
      <% } else { %>
      <input type="checkbox" class="completeCheckbox">
      <% } %>
      <a href="#"><%= title %></a>
    </h4>
  </script>
  
  <!-- load all the libs -->
  <script src="lib/js/jquery.min.js"></script>
  <script src="lib/js/bootstrap.min.js"></script>
  <script src="lib/js/underscore-min.js"></script>
  <script src="lib/js/backbone-min.js"></script>
  <script src="lib/js/backbone.localStorage-min.js"></script>
  <!-- app specific scripts -->
  <script src="models/todo.js"></script>
  <script src="collections/todo.js"></script>
  <script src="views/main.js"></script>
  <script src="views/todo.js"></script>
  <script src="app.js"></script>
</body>
</html>